## Week 11, Lab 1: SQL Practice

> Author: Matt Brems

In this lab, you're going to have ten prompts. Each prompt will require you to do two things:
1. Write a SQL query.
2. Use the result of that query to answer the question.

The purpose of this lab is to get you to practice your SQL - an **important** skill in data science! While it is possible to get these answers using Pandas, it should be your goal to do everything only in SQL.

**Data**: The data used in this lab is the famous (but fake) Northwind database. It contains various tables of transactions. The schema for the Northwind database can be found [here](http://www.zentut.com/wp-content/uploads/downloads/2013/06/Northwind-Sample-Database-Diagram.pdf).

In [1]:
# Import Pandas and Create_Engine

import pandas as pd
from sqlalchemy import create_engine

# Set up the engine to access the data.
engine = create_engine('postgres://postgres:iloveindia@localhost:5432/northwind')

### Prompt 1

How many rows are there in the `customers` table of the Northwind database?

In [2]:
# Use a SQL query to find the answer to the above prompt.

sql = """
SELECT COUNT(*) 
FROM customers;
"""

pd.read_sql_query(sql, engine)

   count
0     91

**Prompt 1 Answer**: 91

### Prompt 2

If you sort the customers in alphabetical order by name, which customer is fourth?

In [3]:
# Use a SQL query to find the answer to the above prompt.

sql = """
SELECT * 
FROM customers
ORDER BY customers."ContactName";
"""

pd.read_sql_query(sql, engine)

,CustomerID,CompanyName,ContactName,ContactTitle,Address,City,Region,PostalCode,Country,Phone,Fax
0,ROMEY,Romero y tomillo,Alejandra Camino,Accounting Manager,"Gran Vía, 1",Madrid,None,28001,Spain,(91) 745 6200,(91) 745 6210
1,MORGK,Morgenstern Gesundkost,Alexander Feuer,Marketing Assistant,Heerstr. 22,Leipzig,None,04179,Germany,0342-023176,None
2,ANATR,Ana Trujillo Emparedados y helados,Ana Trujillo,Owner,Avda. de la Constitución 2222,México D.F.,None,05021,Mexico,(5) 555-4729,(5) 555-3745
3,TRADH,Tradição Hipermercados,Anabela Domingues,Sales Representative,"Av. Inês de Castro, 414",Sao Paulo,SP,05634-030,Brazil,(11) 555-2167,(11) 555-2168
4,GOURL,Gourmet Lanchonetes,André Fonseca,Sales Associate,"Av. Brasil, 442",Campinas,SP,04876-786,Brazil,(11) 555-9482,None
5,EASTC,Eastern Connection,Ann Devon,Sales Agent,35 King George,London,None,WX3 6FW,UK,(171) 555-0297,(171) 555-3373
6,LAMAI,La maison d'Asie,Annette Roulet,Sales Manager,1 rue Alsace-Lorraine,Toulouse,None,31000,France,61.77.61.10,61.77.61.11
7,ANTON,Antonio Moreno Taquería,Antonio Moreno,Owner,Mataderos 2312,México D.F.,None,05023,Mexico,(5) 555-3932,None
8,FAMIA,Familia Arquibaldo,Aria Cruz,Marketing Assistant,"Rua Orós, 92",Sao Paulo,SP,05442-030,Brazil,(11) 555-9857,None
9,SPLIR,Split Rail Beer & Ale,Art Braunschweiger,Sales Manager,P.O. Box 555,Lander,WY,82520,USA,(307) 555-4680,(307) 555-6525
10,QUEDE,Que Delícia,Bernardo Batista,Accounting Manager,"Rua da Panificadora, 12",Rio de Janeiro,RJ,02389-673,Brazil,(21) 555-4252,(21) 555-4545
11,FRANR,France restauration,Carine Schmitt,Marketing Manager,"54, rue Royale",Nantes,None,44000,France,40.32.21.21,40.32.21.20
12,LILAS,LILA-Supermercado,Carlos González,Accounting Manager,Carrera 52 con Ave. Bolívar #65-98 Llano Largo,Barquisimeto,Lara,3508,Venezuela,(9) 331-6954,(9) 331-7256
13,HILAA,HILARION-Abastos,Carlos Hernández,Sales Representative,Carrera 22 con Ave. Carlos Soublette #8-35,San Cristóbal,Táchira,5022,Venezuela,(5) 555-1340,(5) 555-1948
14,MAISD,Maison Dewey,Catherine Dewey,Sales Agent,Rue Joseph-Bens 532,Bruxelles,None,B-1180,Belgium,(02) 201 24 67,(02) 201 24 68
15,BERGS,Berglunds snabbköp,Christina Berglund,Order Administrator,Berguvsvägen 8,Luleå,None,S-958 22,Sweden,0921-12 34 65,0921-12 34 67
16,LACOR,La corne d'abondance,Daniel Tonini,Sales Representative,"67, avenue de l'Europe",Versailles,None,78000,France,30.59.84.10,30.59.85.11
17,FISSA,FISSA Fabrica Inter. Salchichas S.A.,Diego Roel,Accounting Manager,"C/ Moralzarzal, 86",Madrid,None,28034,Spain,(91) 555 94 44,(91) 555 55 93
18,SPECD,Spécialités du monde,Dominique Perrier,Marketing Manager,"25, rue Lauriston",Paris,None,75016,France,(1) 47.55.60.10,(1) 47.55.60.20
19,GALED,Galería del gastrónomo,Eduardo Saavedra,Marketing Manager,"Rambla de Cataluña, 23",Barcelona,None,08022,Spain,(93) 203 4560,(93) 203 4561
20,CONSH,Consolidated Holdings,Elizabeth Brown,Sales Representative,Berkeley Gardens 12 Brewery,London,None,WX1 6LT,UK,(171) 555-2282,(171) 555-9199
21,BOTTM,Bottom-Dollar Markets,Elizabeth Lincoln,Accounting Manager,23 Tsawassen Blvd.,Tsawassen,BC,T2F 8M4,Canada,(604) 555-4729,(604) 555-3745
22,LINOD,LINO-Delicateses,Felipe Izquierdo,Owner,Ave. 5 de Mayo Porlamar,I. de Margarita,Nueva Esparta,4980,Venezuela,(8) 34-56-12,(8) 34-93-93
23,LONEP,Lonesome Pine Restaurant,Fran Wilson,Sales Manager,89 Chiaroscuro Rd.,Portland,OR,97219,USA,(503) 555-9573,(503) 555-9646
24,CENTC,Centro comercial Moctezuma,Francisco Chang,Marketing Manager,Sierras de Granada 9993,México D.F.,None,05022,Mexico,(5) 555-3392,(5) 555-7293
25,BLONP,Blondesddsl père et fils,Frédérique Citeaux,Marketing Manager,"24, place Kléber",Strasbourg,None,67000,France,88.60.15.31,88.60.15.32
26,PICCO,Piccolo und mehr,Georg Pipps,Sales Manager,Geislweg 14,Salzburg,None,5020,Austria,6562-9722,6562-9723
27,MAGAA,Magazzini Alimentari Riuniti,Giovanni Rovelli,Marketing Manager,Via Ludovico il Moro 22,Bergamo,None,24100,Italy,035-640230,035-640231
28,PERIC,Pericles Comidas clásicas,Guillermo Fernández,Sales Representative,Calle Dr. Jorge Cash 321,México D.F.,None,05033,Mexico,(5) 552-3745,(5) 545-3745
29,BLAUS,Blauer See Delikatessen,Hanna Moos,Sales Representative,Forsterstr. 57,Mannheim,None,68306,Germany,0621-08460,0621-08924
...,...,...,...,...,...,...,...,...,...,...,...
61,WILMK,Wilman Kala,Matti Karttunen,Owner/Marketing Assistant,Keskuskatu 45,Helsinki,None,21240,Finland,90-224 8858,90-224 8858
62,REGGC,Reggiani Caseifici,Maurizio Moroni,Sales Associate,Strada Provinciale 124,Reggio Emilia,None,42100,Italy,0522-556721,0522-556722
63,RICSU,Richter Supermarkt,Michael Holz,Sales Manager,Grenzacherweg 237,Genève,None,1203,Switzerland,0897-034214,None
64,TORTU,Tortuga Restaurante,Miguel Angel Paolino,Owner,Avda. Azteca 123,México D.F.,None,05033,Mexico,(5) 555-2933,None
65,VAFFE,Vaffeljernet,Palle Ibsen,Sales Manager,Smagsloget 45,Århus,None,8200,Denmark,86 21 32 43,86 22 33 44
66,FRANS,Franchi S.p.A.,Paolo Accorti,Sales Representative,Via Monte Bianco 34,Torino,None,10100,Italy,011-4988260,011-4988261
67,SUPRD,Suprêmes délices,Pascale Cartrain,Accounting Manager,"Boulevard Tirou, 255",Charleroi,None,B-6000,Belgium,(071) 23 67 22 20,(071) 23 67 22 21
68,HUNGO,Hungry Owl All-Night Grocers,Patricia McKenna,Sales Associate,8 Johnstown Road,Cork,Co. Cork,None,Ireland,2967 542,2967 3333
69,CACTU,Cactus Comidas para llevar,Patricio Simpson,Sales Agent,Cerrito 333,Buenos Aires,None,1010,Argentina,(1) 135-5555,(1) 135-4892
70,VINET,Vins et alcools Chevalier,Paul Henriot,Accounting Manager,59 rue de l'Abbaye,Reims,None,51100,France,26.47.15.10,26.47.15.11
71,WELLI,Wellington Importadora,Paula Parente,Sales Manager,"Rua do Mercado, 12",Resende,SP,08737-363,Brazil,(14) 555-8122,None
72,RATTC,Rattlesnake Canyon Grocery,Paula Wilson,Assistant Sales Representative,2817 Milton Dr.,Albuquerque,NM,87110,USA,(505) 555-5939,(505) 555-3620
73,COMMI,Comércio Mineiro,Pedro Afonso,Sales Associate,"Av. dos Lusíadas, 23",Sao Paulo,SP,05432-043,Brazil,(11) 555-7647,None
74,FRANK,Frankenversand,Peter Franken,Marketing Manager,Berliner Platz 43,München,None,80805,Germany,089-0877310,089-0877451
75,KOENE,Königlich Essen,Philip Cramer,Sales Associate,Maubelstr. 90,Brandenburg,None,14776,Germany,0555-09876,None
76,WARTH,Wartian Herkku,Pirkko Koskitalo,Accounting Manager,Torikatu 38,Oulu,None,90110,Finland,981-443655,981-443655
77,LEHMS,Lehmanns Marktstand,Renate Messner,Sales Representative,Magazinweg 7,Frankfurt a.M.,None,60528,Germany,069-0245984,069-0245874
78,OLDWO,Old World Delicatessen,Rene Phillips,Sales Representative,2743 Bering St.,Anchorage,AK,99508,USA,(907) 555-7584,(907) 555-2880
79,WANDK,Die Wandernde Kuh,Rita Müller,Sales Representative,Adenauerallee 900,Stuttgart,None,70563,Germany,0711-020361,0711-035428
80,ERNSH,Ernst Handel,Roland Mendel,Sales Manager,Kirchgasse 6,Graz,None,8010,Austria,7675-3425,7675-3426
81,RANCH,Rancho grande,Sergio Gutiérrez,Sales Representative,Av. del Libertador 900,Buenos Aires,None,1010,Argentina,(1) 123-5555,(1) 123-5556
82,NORTS,North/South,Simon Crowther,Sales Associate,South House 300 Queensbridge,London,None,SW7 1RZ,UK,(171) 555-7733,(171) 555-2530
83,DRACD,Drachenblut Delikatessen,Sven Ottlieb,Order Administrator,Walserweg 21,Aachen,None,52066,Germany,0241-039123,0241-059428
84,AROUT,Around the Horn,Thomas Hardy,Sales Representative,120 Hanover Sq.,London,None,WA1 1DP,UK,(171) 555-7788,(171) 555-6750
85,BSBEV,B's Beverages,Victoria Ashworth,Sales Representative,Fauntleroy Circus,London,None,EC2 5NT,UK,(171) 555-1212,None
86,CHOPS,Chop-suey Chinese,Yang Wang,Owner,Hauptstr. 29,Bern,None,3012,Switzerland,0452-076545,None
87,HUNGC,Hungry Coyote Import Store,Yoshi Latimer,Sales Representative,City Center Plaza 516 Main St.,Elgin,OR,97827,USA,(503) 555-6874,(503) 555-2376
88,LAUGB,Laughing Bacchus Wine Cellars,Yoshi Tannamuri,Marketing Assistant,1900 Oak St.,Vancouver,BC,V3F 2K1,Canada,(604) 555-3392,(604) 555-7293
89,OCEAN,Océano Atlántico Ltda.,Yvonne Moncada,Sales Agent,Ing. Gustavo Moncada 8585 Piso 20-A,Buenos Aires,None,1010,Argentina,(1) 135-5333,(1) 135-5535
90,WOLZA,Wolski Zajazd,Zbyszek Piestrzeniewicz,Owner,ul. Filtrowa 68,Warszawa,None,01-012,Poland,(26) 642-7012,(26) 642-7012

**Prompt 2 Answer**: Ana Trujillo.

### Prompt 3

Among those customers who live in Germany, if you sort the customers in alphabetical order by name, which customer is fourth?

In [4]:
# Use a SQL query to find the answer to the above prompt.

sql = """
SELECT * 
FROM customers
WHERE customers."Country" = 'Germany'
ORDER BY customers."ContactName";
"""

pd.read_sql_query(sql, engine)

,CustomerID,CompanyName,ContactName,ContactTitle,Address,City,Region,PostalCode,Country,Phone,Fax
0,MORGK,Morgenstern Gesundkost,Alexander Feuer,Marketing Assistant,Heerstr. 22,Leipzig,None,04179,Germany,0342-023176,None
1,BLAUS,Blauer See Delikatessen,Hanna Moos,Sales Representative,Forsterstr. 57,Mannheim,None,68306,Germany,0621-08460,0621-08924
2,OTTIK,Ottilies Käseladen,Henriette Pfalzheim,Owner,Mehrheimerstr. 369,Köln,None,50739,Germany,0221-0644327,0221-0765721
3,QUICK,QUICK-Stop,Horst Kloss,Accounting Manager,Taucherstraße 10,Cunewalde,None,01307,Germany,0372-035188,None
4,TOMSP,Toms Spezialitäten,Karin Josephs,Marketing Manager,Luisenstr. 48,Münster,None,44087,Germany,0251-031259,0251-035695
5,ALFKI,Alfreds Futterkiste,Maria Anders,Sales Representative,Obere Str. 57,Berlin,None,12209,Germany,030-0074321,030-0076545
6,FRANK,Frankenversand,Peter Franken,Marketing Manager,Berliner Platz 43,München,None,80805,Germany,089-0877310,089-0877451
7,KOENE,Königlich Essen,Philip Cramer,Sales Associate,Maubelstr. 90,Brandenburg,None,14776,Germany,0555-09876,None
8,LEHMS,Lehmanns Marktstand,Renate Messner,Sales Representative,Magazinweg 7,Frankfurt a.M.,None,60528,Germany,069-0245984,069-0245874
9,WANDK,Die Wandernde Kuh,Rita Müller,Sales Representative,Adenauerallee 900,Stuttgart,None,70563,Germany,0711-020361,0711-035428
10,DRACD,Drachenblut Delikatessen,Sven Ottlieb,Order Administrator,Walserweg 21,Aachen,None,52066,Germany,0241-039123,0241-059428

**Prompt 3 Answer**: Horst Kloss.

### Prompt 4

From the `employees` table, what are the first names of the individuals who have a birthdate in the 1960s?

In [9]:
# Use a SQL query to find the answer to the above prompt.

sql = """
SELECT employees."FirstName"
FROM employees
WHERE employees."BirthDate" BETWEEN '1-1-1960' AND '12-31-1969';
"""

pd.read_sql_query(sql, engine)

  FirstName
0     Janet
1   Michael
2    Robert
3      Anne

**Prompt 4 Answer**: There are four employees born in the 1960s: Janet, Michael, Robert, and Anne.

### Prompt 5

In `order_details` table of the Northwind database, what is the total number of units sold for products 2, 3, and 4? 
> You should give us three numbers - one for each `ProductID`.

In [10]:
# Use a SQL query to find the answer to the above prompt.

sql = """
SELECT order_details."ProductID", SUM(order_details."Quantity") 
FROM order_details
WHERE order_details."ProductID" BETWEEN 2 AND 4
GROUP BY order_details."ProductID"
ORDER BY order_details."ProductID";
"""

pd.read_sql_query(sql, engine)

   ProductID   sum
0          2  1057
1          3   328
2          4   453

**Prompt 5 Answer**: 
- 1,057 units of ProductID 2 have been sold, 
- 328 units of ProductID 3 have been sold, and 
- 453 units of ProductID 4 have been sold.

### Prompt 6

From the `order_details` table of the Northwind database, calculate the revenue per product. In your SQL output, rename the revenue column `Revenue` and sort your results from largest revenue per product to smallest revenue per product. Which `ProductID` has the fifth-highest revenue, and what is that revenue rounded to the nearest dollar? 
> Note that revenue for a given product should be equal to the total unit price of that product times the quantity. You do not need to worry about the discount here. If you haven't multiplied columns together before, [this StackOverflow question](https://stackoverflow.com/questions/7536996/multiplying-two-columns-in-sql-server/7537059) may be helpful.

In [11]:
# Use a SQL query to find the answer to the above prompt.

sql = """
SELECT order_details."ProductID", SUM(order_details."Quantity" * order_details."UnitPrice") AS "Revenue"
FROM order_details
GROUP BY order_details."ProductID"
ORDER BY "Revenue" DESC
LIMIT 5;
"""

pd.read_sql_query(sql, engine)

   ProductID        Revenue
0         38  149984.200821
1         29   87736.400513
2         59   76296.000000
3         60   50286.000374
4         62   49827.899998

**Prompt 6 Answer**: ProductID 62 has the fifth-highest revenue, at \$49,828.

### Prompt 7

From the `products` table of the Northwind database, show the `ProductName`, `UnitsInStock`, and `UnitsOnOrder` values for those products who have more units on order than units in stock. Among these results, which product has the most units on order?

In [12]:
# Use a SQL query to find the answer to the above prompt.

sql = """
SELECT products."ProductName", products."UnitsInStock", products."UnitsOnOrder"
FROM products
WHERE products."UnitsInStock" < products."UnitsOnOrder";
"""

pd.read_sql_query(sql, engine)

                  ProductName  UnitsInStock  UnitsOnOrder
0                       Chang            17            40
1               Aniseed Syrup            13            70
2              Queso Cabrales            22            30
3         Sir Rodney's Scones             3            40
4           Gorgonzola Telino             0            70
5          Mascarpone Fabioli             9            40
6                  Gravad lax            11            50
7                 Rogede sild             5            70
8                   Chocolade            15            70
9                    Maxilaku            10            60
10  Wimmers gute Semmelknödel            22            80
11  Louisiana Hot Spiced Okra             4           100
12        Scottish Longbreads             6            10
13              Longlife Tofu             4            20

**Prompt 7 Answer**: Louisiana Hot Spiced Okra has the most units on order, with 100.

### Prompt 8

From the `order_details` table, show the products that have an average discount of at least 8%. Among these results, which average discount is closest to 8%?

In [9]:
# Use a SQL query to find the answer to the above prompt.

sql = """
SELECT order_details."ProductID", AVG(order_details."Discount")
FROM order_details
GROUP BY order_details."ProductID"
HAVING AVG(order_details."Discount") >= 0.08
ORDER BY AVG(order_details."Discount") DESC;
"""

pd.read_sql_query(sql, engine)

   ProductID       avg
0         48  0.108333
1          2  0.102273
2          9  0.100000
3         58  0.100000
4         25  0.086111
5         30  0.081250

**Prompt 8 Answer**: Among all ProductIDs with an average discount of at least 8%, ProductID 30 has an average discount closest to 8% with an average discount of 8.125%.

### Prompt 9

Return the `orders` table, but also include the first name, last name, and country of the employee assigned to each order. What is the first and last name of the employee assigned to `OrderID` 11077? (This is the last row in the data, provided that you do not sort.)

In [10]:
# Use a SQL query to find the answer to the above prompt.

sql = """
SELECT orders.*, employees."FirstName", employees."LastName", employees."Country"
FROM orders
LEFT JOIN employees
ON orders."EmployeeID" = employees."EmployeeID";
"""

pd.read_sql_query(sql, engine)

,OrderID,CustomerID,EmployeeID,OrderDate,RequiredDate,ShippedDate,ShipVia,Freight,ShipName,ShipAddress,ShipCity,ShipRegion,ShipPostalCode,ShipCountry,FirstName,LastName,Country
0,10248,VINET,5,1996-07-04,1996-08-01,1996-07-16,3,32.38,Vins et alcools Chevalier,59 rue de l'Abbaye,Reims,None,51100,France,Steven,Buchanan,UK
1,10249,TOMSP,6,1996-07-05,1996-08-16,1996-07-10,1,11.61,Toms Spezialitäten,Luisenstr. 48,Münster,None,44087,Germany,Michael,Suyama,UK
2,10250,HANAR,4,1996-07-08,1996-08-05,1996-07-12,2,65.83,Hanari Carnes,"Rua do Paço, 67",Rio de Janeiro,RJ,05454-876,Brazil,Margaret,Peacock,USA
3,10251,VICTE,3,1996-07-08,1996-08-05,1996-07-15,1,41.34,Victuailles en stock,"2, rue du Commerce",Lyon,None,69004,France,Janet,Leverling,USA
4,10252,SUPRD,4,1996-07-09,1996-08-06,1996-07-11,2,51.30,Suprêmes délices,"Boulevard Tirou, 255",Charleroi,None,B-6000,Belgium,Margaret,Peacock,USA
5,10253,HANAR,3,1996-07-10,1996-07-24,1996-07-16,2,58.17,Hanari Carnes,"Rua do Paço, 67",Rio de Janeiro,RJ,05454-876,Brazil,Janet,Leverling,USA
6,10254,CHOPS,5,1996-07-11,1996-08-08,1996-07-23,2,22.98,Chop-suey Chinese,Hauptstr. 31,Bern,None,3012,Switzerland,Steven,Buchanan,UK
7,10255,RICSU,9,1996-07-12,1996-08-09,1996-07-15,3,148.33,Richter Supermarkt,Starenweg 5,Genève,None,1204,Switzerland,Anne,Dodsworth,UK
8,10256,WELLI,3,1996-07-15,1996-08-12,1996-07-17,2,13.97,Wellington Importadora,"Rua do Mercado, 12",Resende,SP,08737-363,Brazil,Janet,Leverling,USA
9,10257,HILAA,4,1996-07-16,1996-08-13,1996-07-22,3,81.91,HILARION-Abastos,Carrera 22 con Ave. Carlos Soublette #8-35,San Cristóbal,Táchira,5022,Venezuela,Margaret,Peacock,USA
10,10258,ERNSH,1,1996-07-17,1996-08-14,1996-07-23,1,140.51,Ernst Handel,Kirchgasse 6,Graz,None,8010,Austria,Nancy,Davolio,USA
11,10259,CENTC,4,1996-07-18,1996-08-15,1996-07-25,3,3.25,Centro comercial Moctezuma,Sierras de Granada 9993,México D.F.,None,05022,Mexico,Margaret,Peacock,USA
12,10260,OTTIK,4,1996-07-19,1996-08-16,1996-07-29,1,55.09,Ottilies Käseladen,Mehrheimerstr. 369,Köln,None,50739,Germany,Margaret,Peacock,USA
13,10261,QUEDE,4,1996-07-19,1996-08-16,1996-07-30,2,3.05,Que Delícia,"Rua da Panificadora, 12",Rio de Janeiro,RJ,02389-673,Brazil,Margaret,Peacock,USA
14,10262,RATTC,8,1996-07-22,1996-08-19,1996-07-25,3,48.29,Rattlesnake Canyon Grocery,2817 Milton Dr.,Albuquerque,NM,87110,USA,Laura,Callahan,USA
15,10263,ERNSH,9,1996-07-23,1996-08-20,1996-07-31,3,146.06,Ernst Handel,Kirchgasse 6,Graz,None,8010,Austria,Anne,Dodsworth,UK
16,10264,FOLKO,6,1996-07-24,1996-08-21,1996-08-23,3,3.67,Folk och fä HB,Åkergatan 24,Bräcke,None,S-844 67,Sweden,Michael,Suyama,UK
17,10265,BLONP,2,1996-07-25,1996-08-22,1996-08-12,1,55.28,Blondel père et fils,"24, place Kléber",Strasbourg,None,67000,France,Andrew,Fuller,USA
18,10266,WARTH,3,1996-07-26,1996-09-06,1996-07-31,3,25.73,Wartian Herkku,Torikatu 38,Oulu,None,90110,Finland,Janet,Leverling,USA
19,10267,FRANK,4,1996-07-29,1996-08-26,1996-08-06,1,208.58,Frankenversand,Berliner Platz 43,München,None,80805,Germany,Margaret,Peacock,USA
20,10268,GROSR,8,1996-07-30,1996-08-27,1996-08-02,3,66.29,GROSELLA-Restaurante,5ª Ave. Los Palos Grandes,Caracas,DF,1081,Venezuela,Laura,Callahan,USA
21,10269,WHITC,5,1996-07-31,1996-08-14,1996-08-09,1,4.56,White Clover Markets,1029 - 12th Ave. S.,Seattle,WA,98124,USA,Steven,Buchanan,UK
22,10270,WARTH,1,1996-08-01,1996-08-29,1996-08-02,1,136.54,Wartian Herkku,Torikatu 38,Oulu,None,90110,Finland,Nancy,Davolio,USA
23,10271,SPLIR,6,1996-08-01,1996-08-29,1996-08-30,2,4.54,Split Rail Beer & Ale,P.O. Box 555,Lander,WY,82520,USA,Michael,Suyama,UK
24,10272,RATTC,6,1996-08-02,1996-08-30,1996-08-06,2,98.03,Rattlesnake Canyon Grocery,2817 Milton Dr.,Albuquerque,NM,87110,USA,Michael,Suyama,UK
25,10273,QUICK,3,1996-08-05,1996-09-02,1996-08-12,3,76.07,QUICK-Stop,Taucherstraße 10,Cunewalde,None,01307,Germany,Janet,Leverling,USA
26,10274,VINET,6,1996-08-06,1996-09-03,1996-08-16,1,6.01,Vins et alcools Chevalier,59 rue de l'Abbaye,Reims,None,51100,France,Michael,Suyama,UK
27,10275,MAGAA,1,1996-08-07,1996-09-04,1996-08-09,1,26.93,Magazzini Alimentari Riuniti,Via Ludovico il Moro 22,Bergamo,None,24100,Italy,Nancy,Davolio,USA
28,10276,TORTU,8,1996-08-08,1996-08-22,1996-08-14,3,13.84,Tortuga Restaurante,Avda. Azteca 123,México D.F.,None,05033,Mexico,Laura,Callahan,USA
29,10277,MORGK,2,1996-08-09,1996-09-06,1996-08-13,3,125.77,Morgenstern Gesundkost,Heerstr. 22,Leipzig,None,04179,Germany,Andrew,Fuller,USA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
800,11048,BOTTM,7,1998-04-24,1998-05-22,1998-04-30,3,24.12,Bottom-Dollar Markets,23 Tsawassen Blvd.,Tsawassen,BC,T2F 8M4,Canada,Robert,King,UK
801,11049,GOURL,3,1998-04-24,1998-05-22,1998-05-04,1,8.34,Gourmet Lanchonetes,"Av. Brasil, 442",Campinas,SP,04876-786,Brazil,Janet,Leverling,USA
802,11050,FOLKO,8,1998-04-27,1998-05-25,1998-05-05,2,59.41,Folk och fä HB,Åkergatan 24,Bräcke,None,S-844 67,Sweden,Laura,Callahan,USA
803,11051,LAMAI,7,1998-04-27,1998-05-25,None,3,2.79,La maison d'Asie,1 rue Alsace-Lorraine,Toulouse,None,31000,France,Robert,King,UK
804,11052,HANAR,3,1998-04-27,1998-05-25,1998-05-01,1,67.26,Hanari Carnes,"Rua do Paço, 67",Rio de Janeiro,RJ,05454-876,Brazil,Janet,Leverling,USA
805,11053,PICCO,2,1998-04-27,1998-05-25,1998-04-29,2,53.05,Piccolo und mehr,Geislweg 14,Salzburg,None,5020,Austria,Andrew,Fuller,USA
806,11054,CACTU,8,1998-04-28,1998-05-26,None,1,0.33,Cactus Comidas para llevar,Cerrito 333,Buenos Aires,None,1010,Argentina,Laura,Callahan,USA
807,11055,HILAA,7,1998-04-28,1998-05-26,1998-05-05,2,120.92,HILARION-Abastos,Carrera 22 con Ave. Carlos Soublette #8-35,San Cristóbal,Táchira,5022,Venezuela,Robert,King,UK
808,11056,EASTC,8,1998-04-28,1998-05-12,1998-05-01,2,278.96,Eastern Connection,35 King George,London,None,WX3 6FW,UK,Laura,Callahan,USA
809,11057,NORTS,3,1998-04-29,1998-05-27,1998-05-01,3,4.13,North/South,South House 300 Queensbridge,London,None,SW7 1RZ,UK,Janet,Leverling,USA
810,11058,BLAUS,9,1998-04-29,1998-05-27,None,3,31.14,Blauer See Delikatessen,Forsterstr. 57,Mannheim,None,68306,Germany,Anne,Dodsworth,UK
811,11059,RICAR,2,1998-04-29,1998-06-10,None,2,85.80,Ricardo Adocicados,"Av. Copacabana, 267",Rio de Janeiro,RJ,02389-890,Brazil,Andrew,Fuller,USA
812,11060,FRANS,2,1998-04-30,1998-05-28,1998-05-04,2,10.98,Franchi S.p.A.,Via Monte Bianco 34,Torino,None,10100,Italy,Andrew,Fuller,USA
813,11061,GREAL,4,1998-04-30,1998-06-11,None,3,14.01,Great Lakes Food Market,2732 Baker Blvd.,Eugene,OR,97403,USA,Margaret,Peacock,USA
814,11062,REGGC,4,1998-04-30,1998-05-28,None,2,29.93,Reggiani Caseifici,Strada Provinciale 124,Reggio Emilia,None,42100,Italy,Margaret,Peacock,USA
815,11063,HUNGO,3,1998-04-30,1998-05-28,1998-05-06,2,81.73,Hungry Owl All-Night Grocers,8 Johnstown Road,Cork,Co. Cork,None,Ireland,Janet,Leverling,USA
816,11064,SAVEA,1,1998-05-01,1998-05-29,1998-05-04,1,30.09,Save-a-lot Markets,187 Suffolk Ln.,Boise,ID,83720,USA,Nancy,Davolio,USA
817,11065,LILAS,8,1998-05-01,1998-05-29,None,1,12.91,LILA-Supermercado,Carrera 52 con Ave. Bolívar #65-98 Llano Largo,Barquisimeto,Lara,3508,Venezuela,Laura,Callahan,USA
818,11066,WHITC,7,1998-05-01,1998-05-29,1998-05-04,2,44.72,White Clover Markets,1029 - 12th Ave. S.,Seattle,WA,98124,USA,Robert,King,UK
819,11067,DRACD,1,1998-05-04,1998-05-18,1998-05-06,2,7.98,Drachenblut Delikatessen,Walserweg 21,Aachen,None,52066,Germany,Nancy,Davolio,USA
820,11068,QUEEN,8,1998-05-04,1998-06-01,None,2,81.75,Queen Cozinha,"Alameda dos Canàrios, 891",Sao Paulo,SP,05487-020,Brazil,Laura,Callahan,USA
821,11069,TORTU,1,1998-05-04,1998-06-01,1998-05-06,2,15.67,Tortuga Restaurante,Avda. Azteca 123,México D.F.,None,05033,Mexico,Nancy,Davolio,USA
822,11070,LEHMS,2,1998-05-05,1998-06-02,None,1,136.00,Lehmanns Marktstand,Magazinweg 7,Frankfurt a.M.,None,60528,Germany,Andrew,Fuller,USA
823,11071,LILAS,1,1998-05-05,1998-06-02,None,1,0.93,LILA-Supermercado,Carrera 52 con Ave. Bolívar #65-98 Llano Largo,Barquisimeto,Lara,3508,Venezuela,Nancy,Davolio,USA
824,11072,ERNSH,4,1998-05-05,1998-06-02,None,2,258.64,Ernst Handel,Kirchgasse 6,Graz,None,8010,Austria,Margaret,Peacock,USA
825,11073,PERIC,2,1998-05-05,1998-06-02,None,2,24.95,Pericles Comidas clásicas,Calle Dr. Jorge Cash 321,México D.F.,None,05033,Mexico,Andrew,Fuller,USA
826,11074,SIMOB,7,1998-05-06,1998-06-03,None,2,18.44,Simons bistro,Vinbæltet 34,Kobenhavn,None,1734,Denmark,Robert,King,UK
827,11075,RICSU,8,1998-05-06,1998-06-03,None,2,6.19,Richter Supermarkt,Starenweg 5,Genève,None,1204,Switzerland,Laura,Callahan,USA
828,11076,BONAP,4,1998-05-06,1998-06-03,None,2,38.28,Bon app',"12, rue des Bouchers",Marseille,None,13008,France,Margaret,Peacock,USA
829,11077,RATTC,1,1998-05-06,1998-06-03,None,2,8.53,Rattlesnake Canyon Grocery,2817 Milton Dr.,Albuquerque,NM,87110,USA,Nancy,Davolio,USA

**Prompt 9 Answer**: `OrderID` 11077 corresponds to Nancy Davolio.

### Prompt 10

Find the average amount of freight across all orders, broken out by country of *employee*. (**NOT `ShipCountry`**.) How much higher is the average freight from UK employees than the average freight from US employees?

> For a bonus, round the freight to the nearest whole number and rename the column `Average Freight`.

In [11]:
# Use a SQL query to find the answer to the above prompt.

sql = """
SELECT employees."Country", AVG(orders."Freight") AS "Average Freight"
FROM orders
LEFT JOIN employees
ON orders."EmployeeID" = employees."EmployeeID"
GROUP BY employees."Country";
"""

pd.read_sql_query(sql, engine)

  Country  Average Freight
0      UK        78.977143
1     USA        77.973284

**Prompt 10 Answer**: The average freight for orders shipped by UK employees is about 1 unit higher than the average freight shipped by US employees.